<%= form_for [@city, @post] do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter a title", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :body, rows: "10", class: "form-control", placeholder: "Describe your experience" %>
  </div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-block btn-info" %>
  </div>
<% end %>